//
//  StagingConfigDebug.xcconfig
//  ConfigFilesDemo
//
//  Created by Carlos M. Vicente Herrero on 18/6/16.
//  Copyright © 2016 Carlos M. Vicente Herrero. All rights reserved.
//

// APP CUSTOMIZATION
APP_NAME = DemoStagingDebug
BUNDLE_ID = com.demo.staging.debug
ENVIRONMENT = Staging
FacebookID = FB_Staging_Debug
NotificationsID = PushIDStagingDebug

// SIGNING
CODE_SIGN_IDENTITY = iPhone Developer: cmvicentehe@gmail.com (L9HSJLDFND)
PROVISIONING_PROFILE = ProvProfStagingDebug

// PREPROCESSORS
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1