//
//  StagingConfigRelease.xcconfig
//  ConfigFilesDemo
//
//  Created by Carlos M. Vicente Herrero on 18/6/16.
//  Copyright © 2016 Carlos M. Vicente Herrero. All rights reserved.
//

// APP CUSTOMIZATION
APP_NAME = DemoStagingReleasePlist
BUNDLE_ID = plist.demo.staging.release
ENVIRONMENT = Staging
FacebookID = FB_Staging_ReleasePlist
NotificationsID = PushIDStagingReleasePlist

// SIGNING
CODE_SIGN_IDENTITY = iPhone Developer: cmvicentehe@gmail.com (L9HSJLDFND)
PROVISIONING_PROFILE = ProvProfStagingReleasePlist

// PREPROCESSORS
GCC_PREPROCESSOR_DEFINITIONS = SELECTED_ENVIRONMENT_FROM_PLIST=1 PRODUCTION=0 QUALITY=0 STAGING=0 DEBUG=0