<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09B1FC5E1D158F660001C427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09B1FC721D158F670001C427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09B1FC7D1D158F670001C427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
